<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Store</title>
    <link rel="icon" href="../Images/GamerWorm-removebg-preview.png" />
    <link rel="stylesheet" href="/Game/searchGameStylesheet.css" />
    <!-- Add this line to include the carousel CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <!-- Add this line to include the carousel JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="logo">
        <img src="./Images/GamerWorm-removebg-preview.png" alt="Logo" />
        Wormhole Gaming
      </a>
      <nav>
        <!-- Search bar -->
        <form action="/search" method="get" class="search-form">
          <input
            name="q"
            type="search"
            class="search-input"
            placeholder="Search"
          />
        </form>

        <ul>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section class="search-results">
        <h2>Game Catalog:</h2>
        <div class="game-items">
          <!-- Add game items here -->
          <div th:each="game : ${games}" class="game-item">
            <img th:src="@{${game.imageUrl}}" th:alt="${game.title}" />
            <!-- Hardcoded image URL -->
            <h3 th:text="${game.title}"></h3>
            <p th:text="'Price: $' + ${game.price}"></p>
            <button
              class="checkout-button"
              th:onclick="'window.location.href=\'/checkout/game/' + ${game.gameId} + '\''"
            >
              Check Out
            </button>
            <!-- Redirect to 'checkout.html' when the button is clicked -->
          </div>
        </div>
      </section>
    </main>
  </body>
  <footer class="footer">
    <div class="footer__logo-box">
      <img
        src="../Images/GamerWorm-removebg-preview.png"
        alt="Full logo"
        class="footer__logo"
      />
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <div class="footer__navigation">
          <ul class="footer__list">
            <li class="footer__item">
              <a
                href="https://www.linkedin.com/in/bryan-tineo/"
                class="footer__link"
                >Company</a
              >
            </li>
            <li class="footer__item">
              <a
                href="https://www.linkedin.com/in/bryan-tineo/"
                class="footer__link"
                >Contact</a
              >
            </li>
            <li class="footer__item">
              <a
                href="https://www.linkedin.com/in/bryan-tineo/"
                class="footer__link"
                >Carrers</a
              >
            </li>
            <li class="footer__item">
              <a
                href="https://www.linkedin.com/in/bryan-tineo/"
                class="footer__link"
                >Privacy policy</a
              >
            </li>
            <li class="footer__item">
              <a
                href="https://www.linkedin.com/in/bryan-tineo/"
                class="footer__link"
                >Terms</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1-of-2">
        <p class="footer__copyright">
          Built by
          <a
            href="https://www.linkedin.com/in/bryan-tineo/"
            class="footer__link"
            >Bryan Tineo</a
          >
          and
          <a
            href="https://www.linkedin.com/in/jessieestrada/"
            class="footer__link"
            >Jessie Estrada</a
          >
          for our Bootcamp at Neflix. Copyright &copy; by Bryan Tineo and Jessie
          Estrada.
        </p>
      </div>
    </div>
  </footer>
</html>
