//Mixin for the footter
@mixin respond($breakpoint) {
  @if $breakpoint == tab-port {
    //900px /16= 56.25
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }
}

// COLORS for page

$primary-color: #1c3a63;
$secondary-color: #ff5733;
$text-color: #333333;
$accent-color: #61b3ff;
$sticky-bg-color: #2c4a7d; // New color for the sticky navigation background

/*  Style of entire app */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient($primary-color, $secondary-color);
}

/* Header Nav part */

header {
  //We add psoition sticky and background color in order to make sticky navigation
  position: sticky;

  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100000;
}

nav {
  display: flex;
  align-items: center;
}

header .logo {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

header .logo img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: #fff;
  border-radius: 20px;
}

header ul li a:hover,
header ul li a.active {
  background: #fff;
  color: black;
}

//In order for our sticky navigation to get background color when moved:
header.scrolled {
  background-color: rgba($sticky-bg-color, 0.5);
}

//Search bar of the navigation

.search-form {
  margin-left: 30px;
}

.search-input {
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 25px;
  width: 300px; //defaultt length of search bar of 300px
  transition: width 0.5s ease-in-out; /* Add a transition for the width property */
}

.search-input:focus {
  width: 600px;
  outline: none; /* Optional: remove the default browser outline */
}

//Now After finishing the header of the website
//We need to create a container style in order for  each section be positioned correctly in the page

//In order to make predetermined size of the section for each section in this page we are going tto create  a standard sttyle for each section in the website.
.container {
  width: 100%;
  max-width: 1700px; /* Increase max-width for larger screens */
  margin: 50px auto;
  padding: 50px 20px;
}

/* Add media queries for responsiveness */
@media screen and (max-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 540px) {
  .container {
    padding: 50px 10px; /* Adjust padding for smaller screens */
  }
}

//Footer

.footer {
  background-color: black;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $text-color;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    //inline image works as inline text, so text align center will align the image
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 6rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    border-top: 1px solid $text-color;
    padding-top: 2rem;
    // inline-block dosent ocuppy 100% of its available width only what the content needs
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      color: black;
      background-color: $secondary-color;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $primary-color;
      box-shadow: 0 1rem 2rem rgba(black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $primary-color;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}

// Items displayed from GET request
body {
  background-color: #2c3e50;
  font-family: Arial, sans-serif;
}

.search-results {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  color: white;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.game-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
}

.game-item {
  width: 250px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  text-align: center;
  transition: 0.3s ease-in-out;

  img {
    width: 230px;
    height: 210px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
  }
}
.game-item:hover {
  border-radius: 10px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 2);
  transform: translateY(-2%);
  cursor: pointer;
}
//Checkoutt button style
button.checkout-button {
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.checkout-button:hover {
  background-color: #3e8e41;
}

//Media queries for screen sizes

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em; /* Adjust this value as needed */
  }

  /* Header Nav part */
  header {
    justify-content: center;
  }

  header .logo {
    font-size: 1em;
  }

  header .logo img {
    width: 50px;
    height: 50px;
  }

  header ul li a {
    text-decoration: none;
    padding: 3px 7px; /* Adjusted the padding */
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
  }

  //Search bar of the navigation

  .search-form {
    margin-left: 5px;
    margin-right: 5px;
  }

  .search-input {
    padding: 3px 10px;
    font-size: 1em;
    width: 150px; //defaultt length of search bar of 300px
  }
  .search-input:focus {
    width: 200px;
    outline: none; /* Optional: remove the default browser outline */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.85em;
  }

  /* Header Nav part */
  header {
    justify-content: center;
  }

  header .logo {
    font-size: 1em;
  }

  header .logo img {
    width: 50px;
    height: 50px;
  }

  header ul li a {
    text-decoration: none;
    padding: 5px 7px; /* Adjusted the padding */
    color: #fff;
    border-radius: 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-weight: 600;
    text-transform: uppercase;
  }

  //Search bar of the navigation

  .search-form {
    margin-left: 5px;
    margin-right: 5px;
  }

  .search-input {
    padding: 3px 10px;
    font-size: 1em;
    width: 300px; //defaultt length of search bar of 300px
  }
  .search-input:focus {
    width: 390px;
    outline: none; /* Optional: remove the default browser outline */
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.9em;
  }

  header ul li {
    list-style: none;
    margin-left: 50px;
    margin-right: 50px;
  }

  //Search bar of the navigation

  .search-form {
    margin-left: 5px;
    margin-right: 5px;
  }

  .search-input {
    padding: 3px 10px;
    font-size: 1em;
    width: 450px; //defaultt length of search bar of 300px
  }
  .search-input:focus {
    width: 500px;
    outline: none; /* Optional: remove the default browser outline */
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 1em;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  //Search bar of the navigation

  .search-form {
    margin-left: 5px;
    margin-right: 5px;
  }

  .search-input {
    padding: 3px 10px;
    font-size: 1em;
    width: 700px; //defaultt length of search bar of 300px
  }
  .search-input:focus {
    width: 800px;
    outline: none; /* Optional: remove the default browser outline */
  }
}
