// COLORS for page
$primary-color: #1c3a63;
$secondary-color: #ff7f3f;

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background: linear-gradient($primary-color, $secondary-color);
}

@keyframes jumpImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.container {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: jumpImage 3s infinite;
}

.logo {
  animation: jumpImage 3s infinite;
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
  animation: jumpImage 3s infinite;
}

.error-message {
  font-size: 18px;
  color: #ff0000; /* Customize the error message color */
  margin-bottom: 20px;
}

.home-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1c3a63;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  animation: jumpImage 3s infinite;
}

.home-link:hover {
  background-color: #0d263f;
}
